# Sensitive Credentials & Cookies (NEVER commit to GitHub)
credentials.json
srm_cookies.json
.env

# Python bytecode & venv
__pycache__/
*.pyc
*.pyo
.venv/
env/
venv/

# Node modules & Android build artifacts
node_modules/
android/
.idea/
.vscode/
